.bar {
    background-color: lightcyan;
}

.brand {
    font-size: 32px;
}

.link {
    font-size: 20px;
}

.navCommon {
    color: black;
    text-decoration: none;
}

.navCommon:hover {
    color: inherit;
    text-decoration: underline;
}